<div id="summary-form" class="bg-white rounded p-2">
  <h4 class="text-left text-success">Step 1: Add Claim</h4>
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
          <%= render partial: "magicnets/view_emp/expense_new" %>
        </div>
    </div>
  </div>

  <div id="employee-expense-table">
    <%= render partial: "magicnets/view_emp/expense_table", local: @expenses %>
  </div>
</div>

<hr>

<div id="list-form" class="bg-white rounded p-2">
</div>

<hr>

<div id="approval-form" class="bg-white rounded p-2">
</div>


