<div>
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
          <%= render partial: "magicnets/view_emp/expense_new" %>
        </div>
    </div>
  </div>

  <div id="employee-expense-table">
    <%= render partial: "magicnets/view_emp/expense_table", local: @expenses %>
  </div>
</div>

<hr>

<div id="list-form">
</div>


