<p>This is Employee Dashboard</p>
<ul>
    <li>Submit and Manage form for Leaves/Timehseets/Expenses/Equipments</li>
    <li>Able to download monthly Payslip abd EAForms (*future)</li>
    <li></li>
    <li></li>
    <li></li>
</ul>