<div>
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <%= render partial: "magicnets/view_emp/timesheet_new" %>
        </div>
    </div>
  </div>

  <div id="employee-timesheet-table">
    <%= render partial: "magicnets/view_emp/timesheet_table", local: @timesheets %>
  </div>
</div>

<hr>

<div id="task-form">
</div>


