<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <%= button_to "New Announcement", new_announcement_path, remote: true, method: 'get', class: "btn btn-outline-info" %>
      </div>
  </div>
</div>

<div id="announcement-table">
  <%= render partial: "announcements/table" %>
</div>