$("#modal-header").html("New Employee");
$("#modal-body").html("<%= j (render 'holidays/new') %>");
$("#modal-footer").html("<button type='submit' form='new_holiday' value='Create' class='btn btn-primary'>Create Holiday</button>");
$("#modal-form").modal();