<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <%= button_to "New Employee", new_employee_path, remote: true, method: 'get', class: "btn btn-outline-info" %>
      </div>
  </div>
</div>

<div id="employee-table">
  <%= render partial: "employees/table" %>
</div>