$("#modal-header").html("New Employee");
$("#modal-body").html("<%= j (render 'employees/new') %>");
$("#modal-footer").html("<button type='submit' form='new-employee-form' value='Create' class='btn btn-primary'>Create Employee</button>");
$("#modal-form").modal();