<% if current_user.employee.approve_leave %>
<h3>Leave Approvals</h3>
<div id="manager-approval-leaves">
  <p>Place Holder</p>
</div>
<% end %>

<hr>

<% if current_user.employee.approve_expense %>
<h3>Expense Approvals</h3>
<div id="manager-approval-expenses">
  <%= render partial: "magicnets/view_pm/approvalexpense", local: @expenses %>
</div>
<% end %>

<hr>

<% if current_user.employee.approve_timesheet %>
<h3>Timesheet Approvals</h3>
<div id="manager-approval-timesheets">
  <%= render partial: "magicnets/view_pm/approvaltimesheet", local: @timesheets %>
</div>
<% end %>