<div class="row justify-content-center mt-4 mb-4">
    <div class="col-lg-6">
        <div class="card text-special bg-secondary shadow border-0">
            <div class="card-header text-center bg-white">
                <h4 class="text-dark">Hello, <%= @user.employee.full_name %></h4>
                <h4 class="text-dark">Welcome to Magicell E-Portal</h4>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <h4>The Magicnet is created to allow our employee apply/approve leaves, Timesheet, and Claim with ease.</h4>
                  <h4>To login to our system, go to <a href="http://magicell.herokuapp.com/magicnet">magicell.com.my</a></h4>
                  <h4>Insert your Email here, and default password is <%= WebappContent.first.param %></h4>
                  <h4>You change change your password via this link: <a href=https://magicell.herokuapp.com/password_resets/new>Click Here</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>


<h5>Don't know what this is?</h5>
<h6>This message is autosent from <a href="http://magicell.herokuapp.com/magicnet">magicell.com.my</a></h6>
<h6>Please do not reply on this email.</h6>
