$("#modal-header").html("Edit Entry");
$("#modal-body").html("<%= j (render 'edit') %>");
$("#modal-footer").html("<button type='submit' form='edit_expense_list_<%=@expense_list.id%>' class='btn btn-primary'>Update</button>");
$("#modal-form").modal();