$("#modal-header").html("Edit Webrole for <%=@user.employee.full_name%>");
$("#modal-body").html("<%= j (render 'role') %>");
$("#modal-footer").html("<button type='submit' form='edit_user_<%=@user.id%>' class='btn btn-primary'>Update</button>");
$("#modal-form").modal();