$("#modal-header").html("New Employee");
$("#modal-body").html("<%= j (render 'projects/new') %>");
$("#modal-footer").html("<button type='submit' form='new_project' value='Create' class='btn btn-primary'>Create Project</button>");
$("#modal-form").modal();