<div id="modal-form" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" id="modal-content">
        <div class="modal-header text-special bg-primary">
          <h5 class="modal-title text-white " id="modal-header"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-white" aria-hidden="true">x </span>
          </button>
        </div>
        <div class="modal-body" id="modal-body">
        </div>
        <div class="modal-footer text-special" id="modal-footer">
        </div>
      </div>
    </div>
</div>





