<%= render partial: "timesheet_approvals/approval" %>

<table id="timesheet-table" class="table table-sm table-responsive-lg mt-4" style="font-size:0.8rem">
    
    <thead class="text-dark">
      <tr>
        <th>Category</th>
        <th>Project</th>
        <th>Date</th>
        <th>Activity</th>
        <th>Time In-Out/Break</th>
        <th>Site Name</th>
        <th>Location</th>
        <% if current_user %>
        <th>Edit</th>
        <th>Delete</th>
        <% end %>
      </tr>
    </thead>

    <tbody class="text-dark" id="timesheet-row">
        <%= render partial: "timesheets/tablerow", local: @timesheets %>
    </tbody>
    
</table>