$("#modal-header").html("Create Timesheet");
$("#modal-body").html("<%= j (render 'form') %>");
$("#modal-footer").html("<button type='submit' form='new_timesheet' class='btn btn-primary'>Create</button>");
$("#modal-form").modal();