<p>This is Project Manager Dashboard</p>
<ul>
    <li>Manage leaves/timesheets Approval for projects or departments member.</li>
    <li>Monitor Employee's Activity</li>
    <li></li>
    <li></li>
    <li></li>
</ul>