<p>This is IT Dashboard</p>
<ul>
    <li>Create new user and new employee.</li>
    <li>Delete/Deactived users who has resigned</li>
    <li>Manage each user/employee roles and rights and they can view and access.</li>
    <li></li>
    <li></li>
    <li></li>
</ul>