<div class="col-lg-12">
    <h3>Pending Approval</h3>
    <p id="summary" class="text-black text-left">Total <%= Register.where(attendance: true).count %> / Total <%= Register.all.count %></p>
    <table id="data-table" class="table table-sm table-responsive-lg table-striped bg-chrome" style="font-size:0.7rem">
    <thead class="text-white">
        <tr>
            <th>Reason</th>
            <th>From</th>
            <th>To</th>
            <th>Days</th>
            <th>Contact Person</th>
            <th>Contact Number</th>
            <th>Manager Approval</th>
            <th>Supervisor Approval</th>
        </tr>
    </thead>

    <tbody id="search">
    </tbody>

    </table>
</div>