<div class="row justify-content-center mt-4 mb-4">
    <div class="col-lg-6">
        <div class="card text-special bg-secondary shadow border-0">
            <div class="card-header text-center bg-white">
                <h2 class="text-primary">MAGICNET</h2>
                <h4 class="text-dark">Leave Approval</h4>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small><%= @message %></small>
                </div>
            </div>
        </div>
    </div>
</div>





