<p>This is HR Dashboard</p>
<ul>
    <li>Create/Delete/Update magicenet's account for new/leaving employee.</li>
    <li>Update Employee's Information if neccessary, such as contract update/leave, entitled leave, and etc</li>
    <li>Post Announcement when needed.</li>
</ul>

<p>Developer's Feature</p>
<ul>
    <li>HR User able to view details and edit any information of employee.</li>
    <li>HR User able to post announcement where everybody can see.</li>
    <li>HR User able to manage holidays.</li>
</ul>