<h4 class="text-left text-success">Step 3: Submit Manager Approval for Expense <%= @expense.year %>-<%= @expense.month %></h4>

<% if @expense.submitted %>
    <p class="text-dark text-special">This expenses claim has been submitted.</p>
<% else %>
    <br>
    <p class="text-dark text-special">This expenses claim has not submit yet, upon submit it will auto send to corresponding project manager.</p>
    <%= button_to "Submit Expenses Claim", submit_expense_path(@expense), method: "post", class: "btn btn-success", remote: true, data: { confirm: 'Please confirm, once submitted You cannot edit the data anymore.' }  %>
<% end %>

<br>

<h4 class="text-left text-primary">Approval List</h4>
<div id="expense-approval-table">
    <%= render partial: "expenses/approvaltable", local: @timesheet %>
</div>