<h4 class="text-left text-success">Step 2: Add List for Expenses Claim <%= @expense.session %></h4>

<% if @expense.submitted %>
    <h5 class="text-dark text-special">This expenses claim has been submitted.</h5>
<% else %>
    <%= render partial: "expenses/listform", local: @list %>
<% end %>
    <br>
    <h4 class="text-left text-primary">Expenses List</h4>
    <div id="expense-list-table">
        <%= render partial: "expenses/listtable", local: @expense %>
    </div>