$("#modal-header").html("Edit Expense");
$("#modal-body").html("<%= j (render 'form') %>");
$("#modal-footer").html("<button type='submit' form='edit_expense_<%=@expense.id%>' class='btn btn-primary'>Update</button>");
$("#modal-form").modal();